// Navigation code here
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @wild-sand;

  .spacewalkers{
    font-size: 5rem;
    margin-bottom: 1%;
  }
  @media(@phone){
    nav {
      display: flex;
      width: 100%;
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-bottom: 1%;

    a {
      .navlink();
    }
  }
}
